$fontBarlow: "Barlow", sans-serif;
$fontFraunces: "Fraunces", serif;

// ### Primary

// - Soft red: hsl(7, 99%, 70%)
// - Yellow: hsl(51, 100%, 49%)
// - Dark desaturated cyan (graphic design text): hsl(167, 40%, 24%)
// - Dark blue (photography text): hsl(198, 62%, 26%)
// - Dark moderate cyan (footer): hsl(168, 34%, 41%)

// ### Neutral

// - Very dark desaturated blue: hsl(212, 27%, 19%)
// - Very dark grayish blue: hsl(213, 9%, 39%)
// - Dark grayish blue: hsl(232, 10%, 55%)
// - Grayish blue: hsl(210, 4%, 67%)
// - White: hsl(0, 0%, 100%)

$articleTitleColor: hsl(212, 27%, 19%);
$articleTextColor: hsl(210, 4%, 67%);
$gfxText: hsl(167, 40%, 24%);

$mobileImgHeader: url(/src/styles/image-header.jpg);
$desktopImgHeader: url(/src/styles/image-header-desktop.jpg);

// $transformImg: url(../images/mobile/image-header.jpg);
// $standOutImg: url(../images/mobile/image-stand-out.jpg);
// $graphicDesignImg: url(../images/mobile/image-graphic-design.jpg);
// $photographyImg: url(../images/mobile/image-photography.jpg);

// // gallery
// $gallery1: url(../images/mobile/image-gallery-milkbottles.jpg);
// $gallery2: url(../images/mobile/image-gallery-orange.jpg);
// $gallery3: url(../images/mobile/image-gallery-cone.jpg);
// $gallery4: url(../images/mobile/image-gallery-sugar-cubes.jpg);
