/* font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif; */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  width: 100%;
  display: block;
}

/* ////////////////////////////////////////typography */
.logo {
  font-family: "Barlow", sans-serif;
  font-size: 1.9rem;
  font-weight: 800;
  color: white;
}

.content-text {
  font-family: "Barlow", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  font-style: normal;
  color: #a7abae;
}

.content-text-title {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  color: #23303e;
}

.footer-title {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 2.5rem;
  text-align: center;
  color: #2c7564;
  padding: 1.8em 0 1.3em 0;
}

.link-site {
  font-family: "Barlow", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  font-style: normal;
  color: #2c7564;
  padding: 0 0 4em 0;
}

.nav-list, .nav-list-hidden {
  font-family: "Barlow", sans-serif;
  padding-top: 2em;
  font-size: 1.3rem;
}

/* unvisited link */
a:link {
  color: black;
  text-decoration: none;
}

.nav-list a:link, .nav-list-hidden a:link {
  color: gray;
}

/* visited link */
a:visited {
  color: black;
  text-decoration: none;
}

.nav-list a:visited, .nav-list-hidden a:visited {
  color: gray;
}

/* mouse over link */
a:hover {
  color: black;
  text-decoration: none;
}

/* selected link */
a:active {
  color: orange;
  text-decoration: none;
}

.highlighted-nav {
  color: orange;
}

.nav-list:last-child a:link, .nav-list-hidden:last-child a:link {
  color: black;
}

.nav-list:last-child a:visited, .nav-list-hidden:last-child a:visited {
  color: black;
  background-color: orange;
}

.btn {
  font-family: "Fraunces", serif;
  font-weight: 400;
  background-color: #ffd602;
  /* Green */
  border: none;
  color: black;
  margin: 0em auto;
  font-size: 1.2rem;
  padding: 0.5em 0 0.5em 0;
  border-radius: 25px;
  width: 50%;
}

@media (min-width: 768px) {
  .nav-list a:link, .nav-list-hidden a:link {
    color: white;
  }
  .nav-list a:visited, .nav-list-hidden a:visited {
    color: white;
  }
}

/* ///////////////////////////////////NAV LAYOUTlayout */
.header-container {
  background-image: url(/src/styles/image-header.jpg);
  background-size: 100% 100%;
  min-width: 150px;
  min-height: 100px;
  padding-bottom: 90%;
  padding-top: 1em;
}

.nav-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2em;
  margin-top: 0em;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-size: 0.8rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.hamburger {
  color: white;
  font-size: 1.5rem;
}

.hamburger-menu {
  position: fixed;
  background-color: white;
  top: 8em;
  left: 10%;
  width: 80%;
  height: 25em;
  z-index: 50;
  -webkit-box-shadow: 1px 1px 15px black;
          box-shadow: 1px 1px 15px black;
  padding-top: 1.8em;
}

.hamburger-menu-mask {
  position: fixed;
  opacity: 0.1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 7em;
}

.title {
  text-align: center;
  font-family: "Fraunces", serif;
  font-weight: bolder;
  font-size: 2.8rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: white;
  padding-top: 1.5em;
}

.nav-list, .nav-list-hidden {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em 1em;
  text-align: center;
}

.nav-list-hidden {
  display: none;
}

@media (min-width: 768px) {
  ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .nav-list-hidden {
    display: block;
  }
  .hamburger {
    display: none;
  }
  .hamburger-menu {
    display: none;
  }
}

.section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-text {
  padding: 1.7em;
  line-height: 1.7rem;
}

.content-text p {
  text-align: center;
}

.learn-more, .learn-more2 {
  font-family: "Fraunces", serif;
  color: black;
  font-weight: 900;
  text-align: center;
  background-image: linear-gradient(120deg, #fff1ba 0%, #fff1ba 100%);
  background-repeat: no-repeat;
  background-size: 120px 0.6em;
  background-position: center 98%;
}

.learn-more2 {
  background-image: linear-gradient(120deg, #fbded9 0%, #fbded9 100%);
}

.learn-more a, .learn-more2 a {
  color: black;
  text-decoration: none;
}

.intext-parent {
  position: relative;
}

.intext-child, .intext-child2 {
  line-height: 1.7rem;
  color: #25564b;
  position: absolute;
  top: 170px;
  top: 50%;
  min-width: 100px;
}

.intext-child2 {
  top: 54%;
}

.review-title {
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  font-size: 1rem;
  text-align: center;
  margin: 3em 0 3em 0;
  letter-spacing: 0.15rem;
  color: gray;
}

.article-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5em;
}

.article-review img {
  width: 75px;
  -webkit-clip-path: circle();
          clip-path: circle();
  margin-bottom: 2em;
}

.article-review .client-text,
.article-review .client-title {
  font-family: "Barlow", sans-serif;
  color: gray;
  font-size: 1.1rem;
  margin: 0 1.8em 0 1.8em;
  text-align: center;
}

.article-review .client-name {
  font-family: "Fraunces", serif;
  font-size: 1.2rem;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 0.5em;
}

.article-review .client-title {
  font-size: smaller;
}

.grid-image-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-auto-rows: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 0px;
}

.footer {
  background-color: #90d4c5;
}

.footer-flex-link-site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 1em 0 1em;
}

.footer-link-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 3.4em 4em 3.4em;
}
/*# sourceMappingURL=app.css.map */