/* font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif; */

@import "./variables";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  width: 100%;
  display: block;
}

/* ////////////////////////////////////////typography */
h2,
h2,
h3,
h4 {
}

.logo {
  font-family: $fontBarlow;
  font-size: 1.9rem;
  font-weight: 800;
  color: white;
}

.content-text {
  font-family: $fontBarlow;
  font-size: 1.2rem;
  font-weight: 600;
  font-style: normal;
  color: $articleTextColor;
}

.content-text-title {
  font-family: $fontFraunces;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  color: $articleTitleColor;
}

.footer-title {
  font-family: $fontFraunces;
  font-weight: 900;
  font-size: 2.5rem;
  text-align: center;
  color: #2c7564;
  padding: 1.8em 0 1.3em 0;
}

.link-site {
  font-family: $fontBarlow;
  font-size: 1.2rem;
  font-weight: 700;
  font-style: normal;
  color: #2c7564;
  padding: 0 0 4em 0;
}

.nav-list {
  font-family: $fontBarlow;
  padding-top: 2em;
  font-size: 1.3rem;
}

/* unvisited link */
a:link {
  color: black;
  text-decoration: none;
}

.nav-list a:link {
  color: gray;
}

/* visited link */
a:visited {
  color: black;
  text-decoration: none;
}

.nav-list a:visited {
  color: gray;
}

/* mouse over link */
a:hover {
  color: black;
  text-decoration: none;
}

/* selected link */
a:active {
  color: orange;
  text-decoration: none;
}

.highlighted-nav {
  color: orange;
}

.nav-list:last-child a:link {
  color: black;
}

.nav-list:last-child a:visited {
  color: black;
  background-color: orange;
}

.btn {
  font-family: $fontFraunces;
  font-weight: 400;
  background-color: #ffd602;
  border: none;
  color: black;
  margin: 0em auto;
  font-size: 1.25rem;
  padding: 0.5em 0 0.5em 0;
  border-radius: 25px;
  width: 50%;
}

@media (min-width: 768px) {
  .nav-list a:link {
    color: white;
  }

  .nav-list a:visited {
    color: white;
  }
}

/* ///////////////////////////////////NAV LAYOUTlayout */

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 9em;
}

@media (min-width: 768px) and (max-width: 1400px) {
  .title {
    height: 6em;
  }
}

.header-container {
  background-image: $mobileImgHeader;
  background-size: 100% 100%;
  min-width: 150px;

  min-height: 100px;
  padding-bottom: 45%;
  padding-top: 1em;
}

@media (min-width: 768px) {
  .header-container {
    background-image: $desktopImgHeader;
    padding-bottom: 25%;
  }
}

.nav-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 2em;
  margin-top: 0em;
}

ul {
  display: flex;
  list-style: none;
  font-size: 0.8rem;
  flex-flow: column nowrap;
}

.hamburger {
  color: white;
  font-size: 1.5rem;
}

.hamburger-menu {
  position: fixed;
  background-color: white;
  top: 8em;
  left: 10%;
  width: 80%;
  height: 25em;
  z-index: 50;
  box-shadow: 1px 1px 15px black;
  padding-top: 1.8em;
}

.hamburger-menu-mask {
  position: fixed;
  opacity: 0.1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 7em;
}

.title {
  text-align: center;
  font-family: "Fraunces", serif;
  font-weight: bolder;
  font-size: 2.8rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: white;
  padding-top: 1.5em;
}

.nav-list {
  padding: 1em 1em;
  text-align: center;
}

.nav-list-hidden {
  @extend .nav-list;
  display: none;
  padding: 0.5em 1em;
}

@media (min-width: 768px) {
  ul {
    flex-flow: row nowrap;
  }

  .nav-list-hidden {
    display: block;
  }

  .hamburger {
    display: none;
  }

  .hamburger-menu {
    display: none;
  }
}

// ////////////////////////////MAIN ARTICLESSS

.section-content {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .section-content {
    flex-direction: row;
    .content-text {
      padding: 5em;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .content-img {
      width: 50%;
    }
  }

  .reversed {
    .content-text {
      order: -1;
    }
  }

  .section-content-with-text {
    display: flex;
    justify-content: center;
    margin: 0 0;

    .intext-parent {
      width: 100%;
    }

    .content-img {
      width: 100%;
    }

    .content-text {
      width: 100%;
    }
  }
}

.content-text {
  padding: 1.7em;
  line-height: 1.7rem;
  p {
    text-align: center;
  }
}

.learn-more {
  font-family: $fontFraunces;
  color: black;
  font-weight: 900;
  text-align: center;
  background-image: linear-gradient(120deg, #fff1ba 0%, #fff1ba 100%);
  background-repeat: no-repeat;
  background-size: 120px 0.6em;
  background-position: center 98%;
}

.learn-more2 {
  @extend .learn-more;
  background-image: linear-gradient(120deg, #fbded9 0%, #fbded9 100%);
}

.learn-more a {
  color: black;
  text-decoration: none;
}

.intext-parent {
  position: relative;
}

.intext-child {
  line-height: 1.7rem;
  color: $gfxText;
  position: absolute;
  top: 170px;
  top: 55%;
  min-width: 00px;
}

// .intext-child2 {
//   @extend .intext-child;
//   top: 50%;
// }

@media (min-width: 768px) and (max-width: 1400px) {
  .intext-child {
    top: 40%;
  }
}

@media (min-width: 1401px) {
  .intext-child {
    top: 50%;
  }
}

// .intext-child2 { /////////////// SAMPLE OF USECASE EXTEND INTEXT-CHILD2
//   line-height: 1rem;
//   color: $gfxText;
//   position: absolute;
//   top: 170px;
//   top: 50%;
//   min-width: 100px;
// }

// //////////////////////////////////////// REviews

.review-title {
  font-family: $fontFraunces;
  text-transform: uppercase;
  font-size: 1rem;
  text-align: center;
  margin: 3em 0 3em 0;
  letter-spacing: 0.15rem;
  color: gray;
}

.article-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5em;

  img {
    width: 75px;
    clip-path: circle();
    margin-bottom: 2em;
  }

  .client-text,
  .client-title {
    font-family: $fontBarlow;
    color: gray;
    font-size: 1.1rem;
    margin: 0 1.8em 0 1.8em;
    text-align: center;
  }

  .client-name {
    font-family: $fontFraunces;
    font-size: 1.2rem;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 0.5em;
  }

  .client-title {
    font-size: smaller;
  }
}

@media (min-width: 768px) {
  .review-section {
    z-index: 50;
  }
  .reviews {
    display: flex;
    flex-direction: row;
    margin: 3em 10em;
  }
}

/////////////////////////////////////IMAGES

// .image-egg {
//   background-image: url(images/mobile/image-transform.jpg);
//   background-size: 100% 100%;
//   width: 100%;
//   height: 60vh;
// }

.arrow {
  fill: yellow;
}

@media (min-width: 768px) {
  .egg {
    content: url(images/desktop/image-transform.jpg);
  }

  .wine {
    content: url(images/desktop/image-stand-out.jpg);
  }

  .cherry {
    content: url(images/desktop/image-graphic-design.jpg);
  }

  .orange {
    content: url(images/desktop/image-photography.jpg);
  }
}

@media (min-width: 768px) and (max-width: 1400px) {
  .hideOnTablet {
    display: none;
  }
}

.grid-image-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-rows: auto;
  box-sizing: border-box;
  margin-bottom: 0px;
}

@media (min-width: 768px) {
  .grid-image-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

////////////////////////////////FOOTER

.footer-bg {
  background-color: #90d4c5;
}

.footer-flex-link-site {
  display: flex;
  justify-content: space-around;
  padding: 0 1em 0 1em;
}

.footer-link-socials {
  display: flex;
  justify-content: space-around;
  padding: 0 3.4em 4em 3.4em;
}

@media (min-width: 768px) {
  .footer {
    width: 40%;
    margin: auto;
  }
}
